.webform-component-sp-address-auto-postal-code,
.webform-component-sp-address-auto-house-number {
  float: left;
  padding-right: 1em;
}
.webform-component-sp-address-auto-street-name {
  clear: left;
}
